

/* Layout*/

.container {
/*	max-width: 60em;
	margin: 0 auto;*/
}

.nav {
  background-color: rgba(0,0,0,.9);
  height: 60px;
}

.nav-button {
  width: 60px;
  height: 60px;
  float: right;
  background-color: #000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 70%;
  cursor: pointer;
}

.nav-button:hover {
  opacity: .5;
}

.nav-button.hide-button {
  background-image: url("img/ui-elements/show-button.png");
}

.nav-button.hide-button.active {
  background-image: url("img/ui-elements/hide-button.png");
}

.nav-button.node-button {
  background-image: url("img/ui-elements/node-button.png");
}

.logo {
  padding: 5px;
  width: 200px;
}

/* Media figure */

.media-container {
  height: 0;
	margin: 0 auto;
  padding-bottom: 75%;
  position: relative;
  opacity: 1;
}


.media-button {
  background: none;
  border: none;
  box-shadow:
    inset 0 0 0 .25em hsla(0, 0%, 0%, 0.5),
    0 0 0 .125em hsla(360, 100%, 100%, 0.5)
  ;
  border-radius: 50%;
  position: absolute;
}

.media-caption {
  background-color: rgba(0,0,0,.8);
  color: #FFF;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

/* Buttons (this will go away once things are dynamic) */

.media-button {
	height: 40px;
	width: 40px;

  -webkit-animation: pulse 1s infinite;
  -moz-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
}

.button1 {
	top: 5%;
	left: 20%;
}

.button2 {
	left: 50%;
  	top: 33%;
}

.button3 {
	left: 80%;
	top: 10%;
}

.button4 {
	left: 44%;
	top: 25%;
}

/* Utils */

img {
  max-width: 100%;
  width: 100%;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Base  */

body {
	/*padding: 1em;*/
}


/*Image animation*/

@-webkit-keyframes zoom-in {
  from   { 
  	-webkit-transform: scale(.2);
    -moz-transform: scale(.2);
    transform: scale(.2);
  }
  to { 
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes pulse {
  0%, 100%   { 
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  50% { 
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
    opacity: .5;
  }
}


.zoom-in {
	display: block;
	top: 0;
	opacity: 1;

	-webkit-animation: zoom-in .2s ease-in-out;
  -moz-animation: zoom-in .2s ease-in-out;
  animation: zoom-in .2s ease-in-out;
}

.hidden {
	opacity: 0;
	top: -100%;
	left: 0;
}





